.DS_Store
**/.DS_Store

.env
**/.env

.venv
**/.venv
venv/
**/venv/
venv311/
**/venv311/
venv_py311/
**/venv_py311/
env/
**/env/

__pycache__/
**/__pycache__/

*.py[cod]
*$py.class

*.log

chroma_db/
**/chroma_db/

Onboarding_agent/uploaded_docs/
**/uploaded_docs/
